body{
    margin: auto;
}

a{
    text-decoration: none;
}

/*Header section*/
header{
    height: 60px;
    width: 100%;
    background-color: white;
    /* border : 2px solid yellow; */
    position :fixed;
}
#ic{
    float: left;
}
.logo{
    height : 60px;
    width : 90px;
}
#icon{
    float: left;
}
#social{
    float: right;
}
.slogo{
    height: 50px;
    width: 50px;
}
/*Search Section*/
#search{
    height: 450px;
    width: 100%;
    /* background-color:red; */
    background-image:url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 450px;
}
/*Quick Search Section1*/
#quickSearch1{
    height:150px;
    width: 100%;
}

/*Quick Search Section*/
#quickSearch{
    height: 600px;
    width: 100%;
    /* border: 2px solid orange; */
}

.dish{
    height: 300px;
    width: 100%;
}
#dishes{
    height:600px; 
    width:25%; 
    float: left;

}
/*Footer section*/
footer{
    height: 80px;
    width: 100%;
    border: 2px solid blue;
}
